<div class="container my-5 col-sm-6  ">
    <form action="/issue/addissue" method="post">
        <div style="text-align: center;">
            <h1 class="fw-bolder" >Create New Issue</h1></div>
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fw-bolder">Issue Name :</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label fw-bolder">description :</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="description">
        </div>
        <div class="mb-3">
            <label for="" class="form-label fw-bolder">label :</label>
            <br>
            <select name="label" id="label" class="w-100">
                <option value="prod">Prod</option>
                <option value="qa">qa</option>
              </select>
          </div>

        <div class="mb-5">
            <label for="exampleInputPassword1" class="form-label fw-bolder">Author :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="author">
          </div>

          <input type="hidden" name="project" value="<%=project_id%>">
        
        <button type="submit" class="btn btn-primary w-100">Add Issue</button>
      </form>
      <!-- <%=project_id%> -->
</div>
