<div class="container my-5  ">
    <form action="/issue/addissue" method="post">
        <div style="text-align: center;">
            <h1 >Add New Issue</h1></div>
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Issue Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">description</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="description">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">label</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="label">
          </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Author</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="author">
          </div>

          <input type="hidden" name="project" value="<%=project_id%>">
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <!-- <%=project_id%> -->
</div>
