<!-- <%=allprojects%> -->
<div class="row ">
    <div class="col-sm-8 w-75 mx-auto text-center">
      <div class="card">
        <div class="card-body">
    
          <a href="/project/createproject" class="btn btn-danger">Create New Project</a>
        </div>
      </div>
    </div>
    
  </div>

<% for(p of allprojects){%>
    <div class="row ">
        <div class="col-sm-8 w-75 mx-auto text-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%=p.name%></h5>
              <p class="card-text"><%=p.description%></p>
              <p class="card-text"><%=p.author%></p>
              <a href="#" class="btn btn-primary">Go To Project</a>
            </div>
          </div>
        </div>
        
      </div>
<%}%>
